@charset "UTF-8";

.content {
  margin-top: 56px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/static/img/home-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.iconhead {
  color: lightgray;
  vertical-align: middle;
  margin-right: 0.2em;
}

.texthead {
  background-color: chocolate;
  color: white;
}